  
  <h2>home page</h2>

  <img src="<%= user.photos[0].value %>">
  <a href="/logout">logout</a>
  <ul>
     <li><%= //appData.id %></li>
     <li><%= //appData.firstname %></li>
     <li><%= //appData.lastname %></li>
     <li><%= //appData.friend_count %></li>
     <li><%= //appData.follower_count %></li>
  </ul>


   <img src="<%= //appData.profile %>" alt="">






