<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
  
  <h2>home page</h2>

  <img src="<%= user.photos[0].value %>">
  <a href="/logout">logout</a>
  <ul>
     <li><%= //appData.id %></li>
     <li><%= //appData.firstname %></li>
     <li><%= //appData.lastname %></li>
     <li><%= //appData.friend_count %></li>
     <li><%= //appData.follower_count %></li>
  </ul>


   <img src="<%= //appData.profile %>" alt="">


</body>
</html>



