<div class="row">
  <div class="col s2 home-header">
    <img src="<%= user.photos[0].value %>">
  </div>
  <div class="col s8 home-header">
    <h2>home page</h2>
    <p>stats list</p>
    <table>
      <thead>
        <tr>
          <th>run totals</th>
          <th>past 4 weeks</th>
          <th>ytd runs</th>
          <th>all time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="25%">Count</td>
          <td width="25%"><%= fourWkTotal.count %></td>
          <td width="25%"><%= ytdTotal.count %></td>
          <td width="25%"><%= allRunTotal.count %></td>
        </tr>
        <tr>
          <td>Distance</td>
          <td><%= fourWkTotal.distance.toFixed(0) %></td>
          <td><%= ytdTotal.distance %></td>
          <td><%= allRunTotal.distance %></td>
        </tr>
        <tr>
          <td>Moving Time</td>
          <td><%= fourWkTotal.moving_time %></td>
          <td><%= ytdTotal.moving_time %></td>
          <td><%= allRunTotal.moving_time %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col s2 home-header">
    <a class="a-link-button" href="/logout">logout</a>
    <p>personal details</p>
  </div>
</div>

