<div class="row">
  <div class="col s3 home-header">
    <img src="<%= user.profile %>">
    <p>logged in as:</p>
    <p><%= user.firstname %> <%= user.lastname %></p>
    <p><%= user.id %></p>
    <p><%= user.email %></p>
  </div>
  <div class="col s6 home-header">
    <h2>Your Dashboard</h2>
    <div class="section">
      <table>
        <thead>
          <tr>
            <th>run totals</th>
            <th>past 4 weeks</th>
            <th>ytd runs</th>
            <th>all time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width="25%">Count</td>
            <td width="25%"><%= fourWkTotal.count %></td>
            <td width="25%"><%= ytdTotal.count %></td>
            <td width="25%"><%= allRunTotal.count %></td>
          </tr>
          <tr>
            <td>Distance (m)</td>
            <td><%= fourWkTotal.distance.toFixed(0) %></td>
            <td><%= ytdTotal.distance %></td>
            <td><%= allRunTotal.distance %></td>
          </tr>
          <tr>
            <td>Moving Time (s)</td>
            <td><%= fourWkTotal.moving_time %></td>
            <td><%= ytdTotal.moving_time %></td>
            <td><%= allRunTotal.moving_time %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s3 home-header">
    <a class="waves-effect waves-light btn-large deep-orange darken-1" href="/logout">logout</a>
    <p>personal details</p>
    <p>followers: <%= user.follower_count %></p>
    <p>following: <%= user.friend_count %></p>
    <p>premium member? <%= user.premium %></p>
    <p>profile created: <%= user.created_at %></p>
  </div>
</div>

<div class="divider"></div>

<div class="section">
  <h3 class="center">Your Personal Bests</h3>
  <div class="container">
    <table id="pb-table" class="display" cellspacing="0"></table>
  </div>
</div>

<div class="divider"></div>

<h3 class="center">Detailed Summary</h3>
<div>
  Toggle columns:
  <a class="toggle-vis" data-column="0">ID</a> -
  <a class="toggle-vis" data-column="1">Kudos</a> -
  <a class="toggle-vis" data-column="2">Date</a> -
  <a class="toggle-vis" data-column="3">Length of Run</a> -
  <a class="toggle-vis" data-column="4">Total time</a> -
  <a class="toggle-vis" data-column="5">400m</a> -
  <a class="toggle-vis" data-column="6">1/2mil</a> -
  <a class="toggle-vis" data-column="7">1km</a> -
  <a class="toggle-vis" data-column="8">1mil</a> -
  <a class="toggle-vis" data-column="9">2mil</a> -
  <a class="toggle-vis" data-column="10">5km</a> -
  <a class="toggle-vis" data-column="11">10km</a>
</div>

<table id="example" class="display" cellspacing="0">
</table>




<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script>

<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
</script>

<script>
  var allRuns = <%- JSON.stringify(allRuns) %>
  var pbTableData = <%- JSON.stringify(pbTableData) %>
  console.log(allRuns)
  console.log(pbTableData)

  $(document).ready(function() {
    var table = $('#example').DataTable({
      paging: false,
      data: allRuns,
      columns: [
        {title: "ID"},
        {title: "Kudos"},
        {title: "Date"},
        {title: "Length of Run"},
        {title: "Total time"},
        {title: "400m","defaultContent": ""},
        {title: "1/2mil","defaultContent": ""},
        {title: "1km","defaultContent": ""},
        {title: "1mil","defaultContent": ""},
        {title: "2mil","defaultContent": ""},
        {title: "5km","defaultContent": ""},
        {title: "10km","defaultContent": ""}
      ]
    });

    var pbTable = $('#pb-table').DataTable({
      order: [[ 0, "asc" ]],
      columnDefs: [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
      ],
      data: pbTableData,
      columns: [
        {title: "0"},
        {title: "Distance"},
        {title: "Time"},
        {title: "Pace"},
        {title: "Activity_ID"},
        {title: "Date"}
      ],
      paging: false,
      ordering: false,
      info: false,
      searching: false
    });

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
    });
  });
</script>
